@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import "tailwindcss";
@import "@heroui/styles";

@theme {
  --font-playfair: "Playfair Display", serif;
  --text: var(--text);
}

:root,
.light,
.default,
[data-theme="light"],
[data-theme="default"] {
  /* Theme Colors (Light Mode) */
  --accent: oklch(34.10% 0.0626 160.34);
  --text: oklch(34.10% 0.0626 160.34);
  --accent-foreground: oklch(99.11% 0 0);
  --background: oklch(97.02% 0.0106 160.34);
  --border: oklch(90.00% 0.0106 160.34);
  --danger: oklch(65.32% 0.2377 14.52);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(94.00% 0.0106 160.34);
  --default-foreground: oklch(21.03% 0.0059 160.34);
  --field-background: oklch(100.00% 0.0053 160.34);
  --field-foreground: oklch(21.03% 0.0106 160.34);
  --field-placeholder: oklch(55.17% 0.0212 160.34);
  --focus: oklch(34.10% 0.0626 160.34);
  --foreground: oklch(21.03% 0.0106 160.34);
  --muted: oklch(55.17% 0.0212 160.34);
  --overlay: oklch(100.00% 0.0032 160.34);
  --overlay-foreground: oklch(21.03% 0.0106 160.34);
  --scrollbar: oklch(87.10% 0.0106 160.34);
  --segment: oklch(100.00% 0.0106 160.34);
  --segment-foreground: oklch(21.03% 0.0106 160.34);
  --separator: oklch(92.00% 0.0106 160.34);
  --success: oklch(73.29% 0.1976 139.59);
  --success-foreground: oklch(21.03% 0.0059 139.59);
  --surface: oklch(100.00% 0.0053 160.34);
  --surface-foreground: oklch(21.03% 0.0106 160.34);
  --surface-secondary: oklch(95.24% 0.0085 160.34);
  --surface-secondary-foreground: oklch(21.03% 0.0106 160.34);
  --surface-tertiary: oklch(93.73% 0.0085 160.34);
  --surface-tertiary-foreground: oklch(21.03% 0.0106 160.34);
  --warning: oklch(78.19% 0.1619 61.11);
  --warning-foreground: oklch(21.03% 0.0059 61.11);
  --backdrop: rgba(0, 0, 0, 0.7);
  /* Border Radius */
  --radius: 0.5rem;
  --field-radius: 0.5rem;

  /* Font Family */
  /* Make sure to load Be Vietnam Pro font in your app */
  --font-sans: "Be Vietnam Pro", sans-serif;
}

.dark,
[data-theme="dark"] {
  color-scheme: dark;
  /* Theme Colors (Dark Mode) */
  --accent: oklch(34.10% 0.0626 160.34);
  --text: oklch(99.11% 0 0);
  --accent-foreground: oklch(99.11% 0 0);
  --background: oklch(12.00% 0.0106 160.34);
  --border: oklch(28.00% 0.0106 160.34);
  --danger: oklch(59.40% 0.2009 13.41);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(27.40% 0.0106 160.34);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0.0212 160.34);
  --field-foreground: oklch(99.11% 0.0106 160.34);
  --field-placeholder: oklch(70.50% 0.0212 160.34);
  --focus: oklch(34.10% 0.0626 160.34);
  --foreground: oklch(99.11% 0.0106 160.34);
  --muted: oklch(70.50% 0.0212 160.34);
  --overlay: oklch(21.03% 0.0212 160.34);
  --overlay-foreground: oklch(99.11% 0.0106 160.34);
  --scrollbar: oklch(70.50% 0.0106 160.34);
  --segment: oklch(39.64% 0.0106 160.34);
  --segment-foreground: oklch(99.11% 0.0106 160.34);
  --separator: oklch(25.00% 0.0106 160.34);
  --success: oklch(73.29% 0.1976 139.59);
  --success-foreground: oklch(21.03% 0.0059 139.59);
  --surface: oklch(21.03% 0.0212 160.34);
  --surface-foreground: oklch(99.11% 0.0106 160.34);
  --surface-secondary: oklch(25.70% 0.0159 160.34);
  --surface-secondary-foreground: oklch(99.11% 0.0106 160.34);
  --surface-tertiary: oklch(27.21% 0.0159 160.34);
  --surface-tertiary-foreground: oklch(99.11% 0.0106 160.34);
  --warning: oklch(82.03% 0.1417 65.12);
  --warning-foreground: oklch(21.03% 0.0059 65.12);
}
@layer base {
  html {
    @apply bg-background
  }
}
@layer components {
  .bg-login {
    position: fixed;
    inset: -10px; /* thay cho top left width height */
    background: url("/img/flycam-bamboo-house.png") center / cover no-repeat;
    z-index: 0;
    pointer-events: none;
    filter: brightness(0.75) blur(2px);
  }
  .diagonal-grid-bg {
    background-image:
      repeating-linear-gradient(
        45deg,
        rgba(7, 158, 2, 0.1) 0,
        rgba(7, 158, 2, 0.1) 1px,
        transparent 1px,
        transparent 20px
      ),
      repeating-linear-gradient(
        -45deg,
        rgba(7, 158, 2, 0.1) 0,
        rgba(7, 158, 2, 0.1) 1px,
        transparent 1px,
        transparent 20px
      );
    background-size: 40px 40px;
  }
  .input-group {
    @apply dark:bg-surface-secondary dark:text-surface-secondary-foreground;
  }
  .date-input-group {
    @apply dark:bg-surface-secondary dark:text-surface-secondary-foreground;
  }
  .number-field__group {
    @apply dark:bg-surface-secondary dark:text-surface-secondary-foreground;
  }
  .scrollbar-thin {
    -webkit-scrollbar: thin;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar) var(--background);
  }
  .scrollbar-thin::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar);
    border-radius: 2px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background-color: var(--background);
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .drawer__dialog[data-placement="right"] {
    @apply min-w-150 max-w-full;
  }

}
